body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  display: flex;
  gap: 20px;
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #1f2937;
  height: auto;
  padding: 0;
}

.left-links {
  display: flex;

  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.right-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.top {
  display: flex;
  background-color: #1f2937;
  color: white;
  padding: 75px 130px 75px 90px;
  justify-content: space-around;
}

.top-text-left {
  text-wrap: wrap;
  width: 400px;
}

.top-text-left .welcome-text {
  font-size: 48px;
  font-weight: bolder;
}

.top-text-left button {
  margin-top: 10px;
  padding: 5px 20px;
  background-color: #186aee;
  border-style: none;
  border-radius: 5px;
  color: white;
}

.top-text-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c7c7c;
  padding: 100px;
}

.middle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  padding: 30px;
}

.middle-heading {
  font-size: 36px;
  font-weight: bolder;
}

.middle-item-container {
  display: flex;
  gap: 35px;
  padding-bottom: 40px;
}

.shape {
  border: solid 2px #186aee;
  border-radius: 6px;
  height: 120px;
  width: 120px;
}

.description {
  width: 135px;
  text-align: justify;
  font-size: 12px;
  text-wrap: wrap;
}

.middle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-wrap: wrap;
  background-color: #e5e7eb;
  padding: 90px;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  text-overflow: wrap;
  font-weight: lighter;
  font-style: italic;
  font-size: 36px;
}

.quotee {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  font-weight: bold;
}

.middle3 {
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-box {
  background-color: #3883f6;
  color: white;
  border-radius: 7px;
  gap: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}

.action-text {
  font-weight: bold;
}

.extra-text{
    font-size: 12px;
}

.blue-box-right button{
    background-color: #3883f6;
    border: solid 1px white;
    color: white;
    padding: 5px 25px;
    border-radius: 7px;
}

.footer {
  height: 45px;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #1f2937;
  color: white;
  justify-content: center;
  align-items: center;
}
